
<html>
  <head>
    <title>Mi primera página</title>
  </head>

  <body>

    <h1>Hola Jefry</h1>
    <p>Mi primera web con Astro</p>

    <button onclick="saludar()">Click</button>

    <script>
      function saludar(){
        alert("Hola!")
      }
    </script>

  </body>
</html>


