
<html>
  <head>
    <title>TICetario</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
  </head>

  

  <body>

    <h1>TICetario</h1>
    <p>El recetario de todos los tiqueros.</p>
     
	 <div class="catalogo">
		<div class="card1">
			<p>Comida 1</p>
		</div>
	 </div>
    

    <script>
      
    </script>
	<style>
	body {
		font-family:  "Nunito Sans", sans-serif;
		background-color: blue	;
	}
	</style>

  </body>
</html>


